*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}

:root{
    --header-height: 3.5rem;

    --hue: 14;
    --first-color: hsl(var(var(--hue)), 91%, 54%);
    --first-color-alt: hsl(var(var(--hue)), 91%, 50%);
    --title-color: hsl(var(var(--hue)), 4%, 100%);
    --text-color: #f5f5f7;
    --paragraphe-color : #d3d2ce;
    --body-color : linear-gradient(90deg, hsl(104, 28%, 40%), hsl(58, 28%, 40%) 100%);
    --container-color: linear-gradient(136deg, hsl(104, 28%, 35%) 0%, hsl(58, 28%, 35%) 100%);
    --orange-color : #f45120;

    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 2rem;
    --h2-font-size: 3rem;
    --h3-font-size: 1.5rem;
    --h4-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;
    --font-black: 900;
}

@media (min-width: 576px){
    #phonenav{
        visibility: hidden;
    }
}

body{
    background: var(--body-color);
}

.container-color{
    background: var(--container-color);
}

#nav-phone-img{
    width: 20%;
}

#section-firstarticle > img{
    height: 100%;
}

