*{
    padding: 0;
    margin: 0;
    transition: 1s;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}

:root{
    --header-height: 3.5rem;

    --hue: 14;
    --first-color: hsl(var(var(--hue)), 91%, 54%);
    --first-color-alt: hsl(var(var(--hue)), 91%, 50%);
    --title-color: hsl(var(var(--hue)), 4%, 100%);
    --text-color: hsl(var(var(--hue)), 4%, 85%);
    --text-color-light: hsl(var(var(--hue)), 4%, 55%);
    --body-color : linear-gradient(90deg, hsl(104, 28%, 40%), hsl(58, 28%, 40%) 100%);

    --body-font: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}
body{
    overflow: hidden;
    background: var(--body-color);
    font-family: var(--body-font);
    color: white;
}
