*{
    padding: 0;
    margin: 0;
    transition: 1s;
}

@font-face {
    font-family: Poppins;
    src: url(../font/Poppins-Regular.ttf);
}

:root{
    --header-height: 3.5rem;

    --hue: 14;
    --first-color: hsl(var(var(--hue)), 91%, 54%);
    --first-color-alt: hsl(var(var(--hue)), 91%, 50%);
    --title-color: hsl(var(var(--hue)), 4%, 100%);
    --text-color: hsl(var(var(--hue)), 4%, 85%);
    --text-color-light: hsl(var(var(--hue)), 4%, 55%);
    --body-color : linear-gradient(90deg, hsl(104, 28%, 40%), hsl(58, 28%, 40%) 100%);

    --body-font: 'Poppins', sans-serif;
}

body::-webkit-scrollbar{
    display: none;
}
body{
    overflow: hidden;
    background: var(--body-color);
    font-family: var(--body-font);
    color: white;
}
header{
    height: var(--header-height);
    background-color: transparent;
    width: 100vw;
}
header > nav{
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}
header > nav > ul{
    display: flex;
    gap: 1rem;
    list-style: none;
}
main > div > section:nth-child(1){
    height: 92vh;
    background-color: transparent;
}
main > div{
    display: flex;
}
main{
    width: fit-content;
}

main > div > section:nth-child(1) > article > img{
    width: 40vw;
}
main > div > section:nth-child(1) > article:first-child{
    display: flex;
    flex-direction: column;
}
main > div > section:nth-child(1){
    display: flex;
    width: 100vw;
}

main > div > section:nth-child(1) > article:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
main > div > section:nth-child(1) > article:nth-child(2) > div > input{
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    color: white;
}
main > div > section:nth-child(1) > article:nth-child(2) > div > input:first-child{
    background-color: orange;
}
main > div > section:nth-child(1) > article:nth-child(2) > div > input:last-child{
    background-color: transparent;
}
main > div > section:nth-child(2){
    height: 92vh;
    background-color: transparent;
    width: 100vw;
}
main > div > section:nth-child(3){
    height: 92vh;
    background-color: transparent;
    width: 100vw;
}
main > div > section:nth-child(4){
    height: 92vh;
    background-color: transparent;
    width: 100vw;
}